<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<title>Time Zone</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="/countries" th:action="@{/countries}"
		th:object="${language}" method="post">
		<select name="lang" class="browser-default custom-select">
			<option th:each="lang : ${languages}" th:value="${lang.id}"
				th:text="${lang.language}"></option>
		</select>
		<p>
			<input type="submit" value="Next" />
	</form>
</body>
</html>