<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Time Zone</title>
</head>
<body>
	<h2 th:text="'Time Zone Details for ' + ${countryName}"></h2>

	<table border="1">
		<tr style="font-size: 13">
			<th>ID</th>
			<th>Zone Name</th>
			<th>Abbreviation</th>
			<th>GMzT Offset</th>
			<th>Daylight Saving Time</th>
			<th>Current Time</th>
		</tr>
		<tr>
			<td th:text="${timezone.id}"></td>
			<td th:if="${language == 1}" th:text="${timezone.zoneName}"></td>
			<td th:if="${language == 2}" th:text="${timezone.zoneName}"></td>
			<td th:if="${language == 3}" th:text="${timezone.zoneName}"></td>
			<td th:if="${language == 4}" th:text="${timezone.zoneName}"></td>
			<td th:if="${language == 5}" th:text="${timezone.zoneName}"></td>
			<td th:text="${timezone.abbreviation}"></td>
			<td th:text="@{'UTC/GMT ' + ${timezone.gmtOffset} + ' hours'}"></td>
			<td th:if="${timezone.daylightSavingTime == true}" th:text="Yes"></td>
			<td th:if="${timezone.daylightSavingTime == false}" th:text="No"></td>
			<td th:text="${timezone.currentTimeNow}"></td>
		</tr>
	</table>

</body>
</html>